.Contact__list {
    display: flex;
    flex-direction: column;
    

    padding-inline-start: 0px;
    padding: 30px;

    // justify-content: flex-start;
    text-align: left;
    list-style: none;

}